body {
    font: 14px Lucida Grande, sans-serif;
    text-shadow: #000000 2px 2px 10px;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#info-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    text-align: left;
    padding: 18px;
    z-index: 1;
    background: rgba(44, 44, 44, 0.4);
}

h1 {
    margin-top: 0px;
}

a {
    color: #ffffff;
}

ul {
    list-style-type: square;
}

#info-btn {
    float: right;
}

.dg.main.a {
    width: 330px !important;
}

.close-button {
    width: 330px !important;
}

#info-bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    text-align: right;
    padding: 18px;
    z-index: 1;
}